#body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 0px 0px 20px 0px;
    background-color: #050816;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

#appBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    background-color: #050816;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px #2f225d;
    padding: 10px 0px 10px 0px;
    position: fixed;
    z-index: 100;

}

#leftSide{
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 10px;
}

#name{
    color: #eaf4f8;
    font-weight: bold;
    height: fit-content;
    padding-right: 10px;
    border-right: 3px solid #eaf4f8;
}

#career{
    color: #eaf4f8;
    font-weight: bold;
    height: fit-content;
}

#duties{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 40px;
}

#Skill,#Work,#Project,#Contact{
    color: #6f7c9e;
    font-weight: bold;
    height: fit-content;
}

@media (max-width: 480px) {
    #appBar{
        height: fit-content;
        gap: 10px;
    }

    #duties{
        margin-left: 30px;
    }
}