#programs{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 700px;
    height: fit-content;
    padding: 2px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 20px;
}

#SchoolHub{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
    box-shadow: 0 0 2px #915eff;
    padding: 10px;
    border-radius: 5px;
}

#img{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

#des{
    width: 100%;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#butts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#code,#open{
    display: flex;
    padding: 5px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    border: 0px;
    border-radius: 10px;
}

#open{
    background-color: #915eff;
    color: #ffffff;
}

#code{
    background-color: #4836e1;
    color: #ffffff;
    padding: 5px;
    font-size: 16px;
}

#Logos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#bases{
   width: 70px;
   height: 70px; 
   box-shadow: 0 0 2px #915eff;
   padding: 10px;
   border-radius: 50px;
   object-fit:fill;
}

@media (max-width: 480px) {
    #programs{
        max-height: 20px;
        flex-wrap: wrap;
        overflow-y: scroll;
        display: none;
    }
}